<div class="container">
    <div class="section-title">
        <h2>Resume</h2>
    </div>

    <div class="cv-item">
        <button class="download-item" (click)="downloadCV()">Download CV</button>
    </div>

    <br>
    <br>

    <div class="col-xs-12 col-sm-12">

        <div class="gold-text">Education</div>
        <div>
            <div *ngFor="let education of studies" class="timeline-item">
                <div class="left-part">
                    <h5 class="item-period">{{ education.period }}</h5>
                    <span class="item-name">{{ education.name }}</span>
                </div>
                <div class="divider"></div>
                <div class="right-part">
                    <h4 class="item-title">{{ education.title }}</h4>
                    <p class="item-description">{{ education.description }}</p>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="gold-text">EXPERIENCE</div>
        <div>
            <div *ngFor="let experience of experiences" class="timeline-item">
                <div class="left-part">
                    <h5 class="item-period">{{ experience.period }}</h5>
                    <span class="item-name">{{ experience.name }}</span>
                </div>
                <div class="divider"></div>
                <div class="right-part">
                    <h4 class="item-title">{{ experience.title }}</h4>
                    <p class="item-description">{{ experience.description }}</p>
                </div>
            </div>
        </div>

    </div>
</div>