.container {
    margin-top: 6rem;
    margin-bottom: 5rem;
    background: rgba(39, 40, 41, 0.8);
    padding: 2rem;
    color: white;
}

.cv-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.download-item {
    text-decoration: none;
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

a:hover {
    color: crimson;
    background: none;
}

.section-title h2 {
    font-size: 16px;
    padding: 0;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #61677A;
}

.section-title h2::after {
    content: "";
    width: 160px;
    height: 2px;
    display: inline-block;
    background: crimson;
    margin: 4px 10px;
}

.gold-text {
    font-weight: bold;
    font-size: 40px;
    background-image: linear-gradient(to right,
            #cb9b51 22%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%);
    color: transparent;
    background-clip: text;
}

.timeline-item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-bottom: 15px;
}

.left-part {
    width: 30%;
    display: table-cell;
    padding-right: 25px;
    min-height: 100%;
    text-align: right;
    vertical-align: top;
}

.item-period {
    color: #aaa;
    margin: 3px 0;
    font-size: 14px;
    line-height: 1.4em;
}

.item-name {
    display: block;
    margin: 0 0 4px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.45em;
    color: #a5a6a7;
}

.divider {
    position: absolute;
    top: 0;
    left: 30%;
    bottom: 0;
    width: 1px;
    background-color: #444;
}

.divider:before {
    content: '';
    display: block;
    position: absolute;
    margin-top: 4px;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -10px;
    border-radius: 12px;
    background-color: crimson;
    opacity: .25;
    z-index: 0;
}

.divider:after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 8px;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    background-color: #222;
    border-radius: 8px;
    border: 3px solid crimson;
    z-index: 1;
}

.right-part {
    width: 70%;
    display: table-cell;
    padding-left: 25px;
    padding-right: 15px;
    vertical-align: top;
}

.item-title {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.item-description {
    font-size: 15px;
    margin-top: 1rem;
}